<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Dialed{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<nav class="navbar">
    <div class="nav-container">

        <a href="/" class="logo">Dialed</a>

        <div class="nav-links">
            <a href="/">Dashboard</a>
            <a href="/medications">Medications</a>
            <a href="/workouts">Workouts</a>
        </div>

    </div>
</nav>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

</body>
</html>